!jest.config.js
*.d.ts
node_modules
package-lock.json
output.json

# CDK asset staging directory
.cdk.staging
cdk.out

# local env
.DS_Store
.vscode
.env

# prisma
prisma/generated
prisma/migrations

# cdk
cdk/lib/amplify-export-*

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end

docker/scripts/initdb/01_init_schema_and_tables.sql
docker/.env.local